/.idea/
/Source/.idea/
Folder.DotSettings.user
/Source/HMC_NE_VFEE/obj/
/Source/HMC_NE_VFEE/bin/
/Source/HMC_NobilityExpanded/obj/
/Source/HMC_NobilityExpanded/bin/
/Source/RoayltyNewDrop/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Source/RoayltyNewDrop/obj/Debug/RoayltyNewDrop.csproj.AssemblyReference.cache
